/* Video Page */
.videos { display: block; clear: both; }
.videos .item { float: left; width: 48%; margin: 0 1% 25px; }
.videos .item .video { width: 100%; height: auto; position: relative; background: #000; }
.videos .item .video .info{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); }
.videos .item .video .info img{ position: absolute; left: 0; top: 0; bottom: 0; right: 0; width: 49px; height: 49px; margin: auto; cursor: pointer; }
.videos .item .video .info h3{ text-align: left; padding: 45px 10px; color: #FFE500; }

/* Related Videos */
.videos-related { z-index: 999; position: fixed; bottom: -390px; left: 0; padding: 20px 0 0; width: 100%; background: rgba(0,0,0,0.5); cursor: pointer; margin-top: 0; }
.videos-related .videos-container { margin: 0 auto; width: 960px; padding: 0 20px; }
.videos-related .see-video { background: none repeat scroll 0 0 #FFE500;
	color: #000000;
	font-family: Vitesse,Century Gothic,Arial;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	padding: 0 40px 0 20px;
	position: absolute;
	right: 0;
	text-decoration: none;
	text-transform: uppercase;
	top: -40px;
	z-index: 20; 
}
.videos-related .see-video:hover { background: #3F4044; color: #FFE500; }

/* Video Landing Content */
.landing-content { position: fixed; width: 100%; height: 100%; z-index: 999999; left: 0; top: 0; }
.landing-content .info-content-body { position: relative; z-index: 20; min-width: 100%; min-height: 90%; -moz-box-sizing: border-box; box-sizing: border-box; }
.landing-content .player { position: absolute; width: 100%; height: 100%; z-index: 10; left: 0; top: 0; }

.landing-content .skip-video { font-family: Vitesse,Century Gothic,Arial; background: rgba(0,0,0,0.5); position: fixed; z-index: 20; font-size: 30px; text-transform: uppercase; padding: 0 40px 0 20px; height: 50px; right: 0; bottom: 41px;  text-decoration: none; line-height: 50px; }
.landing-content .skip-video:hover { background: #FFE500; color: #000; }

.landing .header-container { position: fixed; width: 100%; z-index: 99999999; left: 0; top: 0; }
.landing .header-container .menu-links { display: none; }
.landing .header-container .right-picture { display: none; }
.landing .header-container .motto { display: block; margin: 38px 5px 0 30px; }
.landing .header-container .brand { display: block; margin: 24px 0 0 30px; }
.landing .header-container .left-info { width: auto; }
.landing .header-container .nav-container { float: left; clear: none; margin: -55px 0 0 100px; }
.landing .header-container .nav-container .nav-1 { display: none; }


/*Home Blocks*/
.home-blocks { float:left; width:100%; clear: both; overflow: hidden; margin-bottom: 30px; }  
.home-blocks .block { float: left; width: 33.33%; border: 0; text-align: left; position:relative; height: 250px;  overflow: hidden; cursor: pointer; }
.home-blocks .block .pattern { background: url(../images/pattern-b.png) repeat; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; display: none; }
.home-blocks .block .img{ display: block; background: #0F1014; }
.home-blocks .block img{ display: block; margin:0 auto 5px; max-height: 250px; max-width: 100%; }
.home-blocks .block .home-hover-data { color: #FFFFFF; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 4; }
.home-blocks .block .table-full { bottom: 0; display: table; height: 100%; left: 0; right: 0; top: 0; width: 100%; background: rgba(0,0,0,0.5); 
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}
.home-blocks .block .table-full > * { display: table-row; }
.home-blocks .block .table-full > * > * { display: table-cell; vertical-align: bottom; text-align: center; }
.home-blocks .block a.title { color: #fff; font-size: 30px; padding: 8px 0 5px; text-decoration: none; display: block; }
.home-blocks .block .desc { background: rgba(0,0,0, 0.8); position: absolute; bottom: 0; left: 0; width: 100%; padding: 5px 10px; font-size: 12px; color: #fff; z-index: 4; display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.home-blocks .block a.title h3 { text-transform: uppercase; color: #fff; font-weight: bold; display: inline-block; font-size: 24px; border: 2px solid #fff; border-width: 2px 0; text-shadow: 0px 0px 5px #000; }
.home-blocks .block:hover .pattern { background-color: rgba(255, 229, 0, 0.3); }
.home-blocks .block:hover a.title h3 { color: #FFE500; border-color: #FFE500; text-shadow: 0px 0px 5px #000; }
.home-blocks .block:hover .desc { display: block; }
.home-blocks .block:hover .table-full { background: transparent; }
.home-blocks .block .table-full > * > * { vertical-align: middle; }

.home-blocks.col4 .block { margin-right: 0; width: 25%; height: 200px; }
.home-blocks.col4 .block a.title h3 { font-size: 18px; }
.home-blocks.col4 .block img{ width: 100%; }

.brand-trx { margin-left: 20px; }
.trx-logo { margin-bottom: 20px; }