app/etc/local.xml
downloader/
errors/
imagini/
includes/
lib/
media/
!media/ruxion1.jpg
!media/ruxion2.jpg
!media/ruxion3.jpg
!media/import
pkginfo/
shell/
var/
ymalla/
.ftpquota
.htaccess
.htaccess.sample
api.php
cron.php
cron.sh
favicon.ico
get.php
index.php
index.php.sample
install.php
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
mage
php.ini.sample
php_errorlog
RELEASE_NOTES.txt
.DS_Store