/* Form elemnets theme */
input,select,textarea,button { font:12px Arial, Helvetica, sans-serif; vertical-align:middle; color:#272b2c; }
input.input-text,select,textarea { background:#ededed; border:1px solid #c8c8c8; }
input.input-text:focus,
select:focus,
textarea:focus { border:1px dashed #222f68; }

/* Global buttons theme*/

button.button { overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer; }
button.button span { float:left; height:31px; background: #2f2f2f; padding:0 0 0 8px; font:400 15px/31px 'Open Sans', Arial, sans-serif; text-align:center; white-space:nowrap; color:#fff; border: 0; }
button.button span i { float: left; font-size: 20px; margin: 6px 2px 0 0; }
button.button span span { background-position:100% 0; padding:0 12px 0 4px; border: 0; }
button.button:hover span { background-color: #505050; }
button.disabled {} 
button.disabled span {}
button.btn-checkout { }
button.btn-checkout span { background: #2f2f2f; border: 1px solid #2f2f2f; color: #fff; }
button.btn-checkout span i { float: left; font-size: 20px; margin: 6px 5px 0 0; }
button.btn-checkout:hover span { background: #505050; }
button.btn-checkout.no-checkout {}
p.control input.checkbox,
p.control input.radio { margin-right:6px; }


/* Global Messages  */
.success { color:#3d6611; font-weight:bold; }
.error { color:#f00; font-weight:bold; }
.notice { color:#ccc; }
.messages,
.messages ul { list-style:none !important; margin:0 !important; padding:0 !important; }
.messages { width:100%; overflow:hidden; }
.messages {  }
.messages li { margin:0 0 10px; }
.messages li li { margin:0 0 3px; }
.error-msg,
.success-msg,
.note-msg,
.notice-msg { border-style:solid !important; border-width:0 !important; background-position:10px 9px !important; background-repeat:no-repeat !important; min-height:24px !important; padding:15px 15px 15px 15px !important; font-size:15px !important; font-weight:normal !important; text-align: center; font-family: Arial, sans-serif; }
.error-msg { border-color:#f16048; background-color:#faebe7; color:#df280a; }
.success-msg { border:1px dashed #222f68 !important; background-color:#f4f4f4; color:#0e3178; }
.note-msg,
.notice-msg { border:1px dashed #222f68 !important; background-color:#fafaec; color:#0e3178; }
/* BreadCrumbs */
.breadcrumbs { padding:10px; margin: 0; border: 1px solid #ededed; width: 1104px; margin: 0 auto; }
.breadcrumbs li { display:inline; color: #282828; }
.breadcrumbs li a { display:inline; color: #282828; }
/* Page Heading */
.page-title { padding:0 0 5px; margin:0 0 10px; text-align: center; display: block; clear: both; }
.page-title h1,
.page-title h2 { background: #1e1e1e; font-size: 14px; font-family: 'Open Sans', sans-serif; padding: 10px 20px 10px 10px; float: left; clear: both; color: #fff; }
.page-title i{ font-style: normal !important; margin-right: 10px; font-size: 18px; }
.page-title .separator { margin:0 3px; }
.page-title .link-rss { float:right; }
.title-buttons { text-align:right; margin-bottom: 5px; }
.title-buttons h1,
.title-buttons h2,
.title-buttons h3,
.title-buttons h4,
.title-buttons h5,
.title-buttons h6 { float:left; }
.cms-page-view .page-title { border-bottom: 1px dashed #e9e9e9; }
.cms-page-view .page-title h1,
.cms-page-view .page-title h2 { background: transparent; font-size: 25px; padding: 0 0 0px; float: left; clear: both; color: #1d1f1f; }
.contacts-index-index .page-title { border-bottom: 1px dashed #e9e9e9; }
.contacts-index-index .page-title h1,
.contacts-index-index .page-title h2 { background: transparent; font-size: 25px; padding: 0 0 0px; float: left; clear: both; color: #1d1f1f; }
.checkout-cart-index .page-title { border-bottom: 1px dashed #e9e9e9; margin: 25px 0; }
.checkout-cart-index .page-title h1,
.checkout-cart-index .page-title h2 { background: transparent; font-size: 25px; padding: 0 0 0px; float: left; clear: both; color: #1d1f1f; }
.cart .success-msg { color: #1f1f1f; border: 1px dashed #d8d6d6 !important; background: #fff; }
.subtitle,
.sub-title { clear:both; }
.col2-left-layout .page-title { }
.col2-right-layout .page-title { }
/* Pager */
.pager { padding:15px 0; text-align:center; font-size: 16px; font-weight: normal; color: #fff; }
.pager a { color: #8f8f8f; text-decoration: none; }
.pager .pages { margin:0 auto; display: inline-block; }
.pager .pages > strong{ display: none; }
.pager .pages ol { display:inline; }
.pager .pages li { float: left; margin-right: 5px; padding: 4px; }
.pager .pages li:hover, 
.pager .pages .current { color: #000; font-weight: bold; }
.pager .pages li:hover a { color: #000; font-weight: bold; }
.pager .pages li.previous-list { background: none; padding: 4px 10px; margin-right: 5px; }
.pager .pages li.next-list { background: none; padding: 4px 10px; margin-left: 0; }
/* Sorter */
.sorter { padding:5px 0; }
.sorter .amount { float:left; margin: 7px 0 0; }
.sorter .limiter { float:right; }
.sorter .view-mode { float:left; }
.sorter .sort-by { float:right; margin-right: 5%; }
.sorter .sort-by label {  color: #000;  }
.sorter .link-feed {}
.page-title .pager { padding: 0; }
.page-title .sorter { padding: 0; }
/* Toolbar */
.toolbar { padding: 0 3%; border:1px solid #d8d6d6; background: #eeeeee; color: #000000; margin-bottom: 10px; font-family: 'Open Sans', sans-serif; }
.toolbar input.input-text, 
.toolbar select { background: #fff; }
.toolbar .pager { display: none; }
.toolbar .sorter {}
.toolbar-bottom { }
.toolbar-bottom .toolbar { border: 0; background: none; padding: 0; }
.toolbar-bottom .pager { display: block; }
.toolbar-bottom .sorter { display: none; }
/* Data Table */
.data-table { width:100%; }
.data-table th { padding:10px 5px; border:1px solid #C9C9C9; border-width: 0 0 1px; font-weight:bold; font-family: 'Open Sans', Arial, sans-serif; color: #2f2f2f; white-space:nowrap; }
.data-table th .nobr { white-space: normal !important; }
.data-table td { padding:10px 5px; border:1px solid #C9C9C9; border-width: 1px 0; font-family: 'Open Sans', sans-serif, Arial; }
.data-table td.has-number { font-family: 'Open Sans'; }
.data-table td .product-image { min-width: 75px; display: block; }
.data-table td .product-image img { width: 100px !important; }
.data-table td img { max-width: 100px !important; }
.data-table td .qty{ text-align: center; }
.data-table td .btn-remove2 { background: none; height: auto; width: auto; font-size: 18px; color: #000; display: block; overflow: visible; text-indent: 0; }
.data-table thead { }
.data-table tbody {}
.data-table tfoot {} 
.data-table tfoot td { padding: 25px 0; border-bottom: 0; }
.data-table tr.first {}
.data-table tr.last {}
.data-table tr.odd {}
.data-table tr.even {  }
.data-table tbody.odd {}
.data-table tbody.odd td { border-width:0 1px; }
.data-table tbody.even { background-color:#f6f6f6; }
.data-table tbody.even td { border-width:0 1px; }
.data-table tbody.odd tr.border td,
.data-table tbody.even tr.border td { border-bottom-width:1px; }
.data-table th .tax-flag { white-space:nowrap; font-weight:normal; }
.data-table td.label,
.data-table th.label { font-weight:bold; background-color:#f6f6f6; }
.data-table td.value {}
/* Shopping cart total summary row expandable to details */
tr.summary-total { cursor:pointer; }
tr.summary-total td {}
tr.summary-total .summary-collapse { float:right; text-align:right; padding-left:20px; background:url(../images/bkg_collapse.gif) 0 4px no-repeat; cursor:pointer; }
tr.show-details .summary-collapse { background-position:0 -53px; }
tr.show-details td {}
tr.summary-details td { font-size:11px; background-color:#dae1e4; color:#626465; }
tr.summary-details-first td { border-top:1px solid #d2d8db; }
tr.summary-details-excluded { font-style:italic; }
/* Shopping cart tax info */
.cart-tax-info { display:block; }
.cart-tax-info,
.cart-tax-info .cart-price { padding-right:20px; }
.cart-tax-total { display:block; padding-right:20px; background:url(../images/bkg_collapse.gif) 100% 4px no-repeat; cursor:pointer; }
.cart-tax-info .price,
.cart-tax-total .price { display:inline !important; font-weight:normal !important; }
.cart-tax-total-expanded { background-position:100% -53px; }
/* Class: std - styles for admin-controlled content */
.std .subtitle { padding:0; }
.std ol.ol { list-style:decimal outside; padding-left:1.5em; }
.std ul.disc { list-style:disc outside; padding-left:18px; margin:0 0 10px; }
.std dl dt { font-weight:bold; }
.std dl dd { margin:0 0 10px; }
.std ul,
.std ol,
.std dl,
.std p,
.std address,
.std blockquote { margin:0 0 1em; padding:0; }
.std ul { list-style:disc outside; padding-left:1.5em; }
.std ol { list-style:decimal outside; padding-left:1.5em; }
.std ul ul { list-style-type:circle; }
.std ul ul,
.std ol ol,
.std ul ol,
.std ol ul { margin:.5em 0; }
.std dt { font-weight:bold; }
.std dd { padding:0 0 0 1.5em; }
.std blockquote { font-style:italic; padding:0 0 0 1.5em; }
.std address { font-style:normal; }
.std b,
.std strong { font-weight:bold; }
.std i,
.std em { font-style:italic; }
.std h3 { color: #2b2b2b; font-size: 17px; text-transform: uppercase; }
.std p { margin-bottom: 5px; }
strong.highlight { color: #cd2127; }
/* Misc */
.links li { display:inline; }
.links li.first { padding-left:0 !important; }
.links li.last { background:none !important; padding-right:0 !important; }
.link-cart { font-weight:bold; color:#f00; }
.link-wishlist { font-weight:bold; }
.link-reorder { font-weight:bold; }
.link-compare { font-weight:bold; }
.link-print { background:url(../images/i_print.gif) 0 2px no-repeat; padding:2px 0 2px 25px; }
.link-rss { background:url(../images/i_rss.gif) 0 1px no-repeat; padding-left:18px; white-space:nowrap; }
.btn-remove { display:block; width:11px; height:11px; font-size:0; line-height:0; background:url(../images/btn_remove.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.btn-remove2 { display:block; width:16px; height:20px; font-size:0; line-height:0; background:url(../images/btn_trash.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.btn-edit    { display:block; width:11px; height:11px; font-size:0; line-height:0; background:url(../images/btn_edit.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.cards-list dt { margin:5px 0 0; }
.cards-list .offset { padding:2px 0 2px 20px; }
.separator { margin:0 3px; }
.divider { clear:both; display:block; font-size:0; line-height:0; height:1px; margin:10px 0; background:#ddd; text-indent:-999em; overflow:hidden; }
