/* Layout ================================================================================ */
.wrapper {}
.page { margin:0 auto; padding: 116px 0 0 0; text-align:left; }
.page-print { background:#fff; padding:20px; text-align:left; }
.page-empty { background:#fff; padding:20px; text-align:left; }
.page-popup { padding:20px; text-align:left; }
.main-container { position: relative; }
.main { margin: 0 auto; max-width: 1124px; padding: 1% 1% 3%; width: 98%; background: #fff; position: relative; min-height: 500px; font-family: 'Open Sans', sans-serif, Arial; font-size: 12px; }
.cms-index-index .main { min-height: 0; }
/* Base Columns */
.col-left { float:left; width:24%; background: #fff; }
.col-main { float:left; width:74%; background: #fff; }
.col-right { float:right; width:24%; background: #fff; }
.cms-index-index .col-main { margin-bottom: 0 !important; position: relative; }
/* 1 Column Layout */
.col1-layout .col-main { float:none; width:auto; }
/* 2 Columns Layout */
.col2-left-layout .col-main { float:right; }
.col2-right-layout .col-main {}
/* 3 Columns Layout */
.col3-layout .col-main { width:484px; margin-left:10px; }
.col3-layout .col-wrapper { float:left; width:748px; }
.col3-layout .col-wrapper .col-main { float:right; }
