@media only screen and (min-width: 0) and (max-width: 1124px) {
  /* Layout */
  .main { width: 94%; padding: 20px 3%; }

  /* Header */
  .store-menu { width: 100%; padding: 20px 0; }
  .breadcrumbs { width: 94%; padding: 10px 3%; }
  .page .widget { width: 88%; padding: 10px 3%; margin: 0 3% 30px; }
  
 }

@media only screen and (min-width: 0) and (max-width: 1090px) { 
/* Products Grid */
  .products-grid li.item { width: 30.33%; }
  .col1-layout .products-grid li.item { width: 30.33%; }
  .products-grid li.item:nth-child(4n+4) { margin: 0 0.9% 1% 0; float: left; }
  .products-grid li.item:nth-child(3n+3) { margin-right: 0; float: right; }
}

@media only screen and (min-width: 0) and (max-width: 950px) { 
 
}

@media only screen and (min-width: 0) and (max-width: 845px) { 
 
}

@media only screen and (min-width: 0) and (max-width: 800px) {

/* Block Layout */
  .block .block-title { background: url(../images/arrow_down.png) 95% center no-repeat; cursor: pointer; }
  .block.closed .block-title { border-bottom: 0; }
  .block .block-content { display: none; }
  .footer .block .block-content { display: block; }

/* Products Grid */
  .products-grid li.item { width: 30.33%; }
  .col1-layout .products-grid li.item { width: 30.33%; }
  .products-grid li.item:nth-child(4n+4) { margin: 0 0.9% 1% 0; float: left; }
  .products-grid li.item:nth-child(3n+3) { margin-right: 0; float: right; }

/* Product View */
  .product-view .product-img-box { width: 100%; margin-bottom: 25px; }
  .product-view .product-shop { width: 100%; }
  .product-view .product-img-box img { max-height: 400px; }
  .product-view .product-name h1 { font-size: 30px; }
  .product-view .short-description { font-size: 13px; }
  #shop-now .product-view .title { font-size: 50px; }

  .product-view .box-reviews .form-list { float: left; width: 100%; }
  .stars-table { float: right; width: 100%; }

  .information-boxes li.first .tooltip { margin-left: 0; } 
  .information-boxes li.first .tooltip:after { left: 16px; }

} 

@media only screen and (min-width: 0px) and (max-width: 650px) {
  

/* Products Grid */
  .products-grid li.item { width: 30.33%; }
  .col1-layout .products-grid li.item { width: 30.33%; }
  .products-grid li.item:nth-child(4n+4) { margin: 0 0.9% 1% 0; float: left; }
  .products-grid li.item:nth-child(3n+3) { margin-right: 0; float: right; }

/* Checkout Page */
  .opc .step-title h2 { font-size: 13px; }

  #opc-login h3 { font-size: 20px; }
  #opc-login .step .col2-set .col-1 { width: 100%; padding: 0; border: 0; }
  #opc-login .step .col2-set .col-2 { width: 100%; padding: 10px 0 10px; border-bottom: 1px solid #e8e5df; margin-bottom: 10px; }

}


@media only screen and (min-width: 0px) and (max-width: 550px) {

/* Products Grid */
  .products-grid li.item { width: 47%; }
  .col1-layout .products-grid li.item { width: 47%; }
  .products-grid li.item:nth-child(4n+4) { margin: 0 0.9% 1% 0; float: left; }
  .products-grid li.item:nth-child(3n+3) { margin: 0 0.88% 1% 0; float: left; }
  .products-grid li.item:nth-child(2n+2) { margin-right: 0; float: right; }

/* Product View */
  .product-view .product-name { width: 100%; }
  .product-view .product-name h1 { font-size: 20px; }

  .product-view .price-box { margin-bottom: 5px; }
  .product-view .add-to-box { margin-bottom: 0; }
  .product-view .add-to-box .option-container { float: left; margin-top: 5px; }
  .product-view .add-to-box .add-to-cart button.button span { font-size: 15px; }
  .product-view .product-img-box img { max-height: 250px; }
  .product-view .add-to-box .option-container { width: 100%; margin-bottom: 10px; }
  .product-view .add-to-box .add-to-cart { width: 100%; }
  .information-boxes li { margin-bottom: 10px; }
  .add-to-box .add-to-links { margin-top: 15px; }
  .alert-price { margin-top: 15px; }
  .add-to-cart button.button { margin-right: 0; }

  .information-boxes li .toolti { position: static; }
  .product-essential { margin: 30px 0; }
  .product-view .box-up-sell { margin-top: 20px; }

/* Cart Page */
  .data-table td { font-size: 13px; }
  .data-table td .nobr { white-space: normal !important; }
  .data-table col.image{ display: none; }
  .data-table th.mobile-hide,
  .data-table td.mobile-hide,
  .data-table td.image,
  .data-table th.image{ display: none; }
  .data-table th { font-size: 11px; }
  .data-table .product-name { font-size: 12px; }
  .cart .totals table tfoot td { font-size: 20px; }
  .opc .step-title h2 { font-size: 9px; }

  .sorter .amount { display: none; }

  .form-list .field { margin-right: 0; width: 100%; }
  .form-list .field:last-child { margin-right: 0; width: 100%; }

  .opc { padding-top: 80px; }
  .opc .sp-methods dd label { font-size: 13px; }
  .opc .step-label { font-size: 13px; }
  .opc .form-list label { font-size: 13px; }
  .opc .buttons-set .please-wait { float: left; font-size: 12px; }

  #opc-review .buttons-set button.button { float: none; width: 100%; margin-bottom: 15px; }
  #opc-review .buttons-set button.button span { width: 90%; padding: 0 5%; }
  #opc-review .buttons-set button.button span span { width: auto; padding: 0 5px; }

  .opc .step-title { display: none; left: 0 !important; width: 100% !important; }
  .opc .step-title h2 { font-size: 15px; }
  .opc .active .step-title { display: block; }

  button.button span { font-size: 13px; }
  .main { padding-top: 5px; }
  .forcefullwidth_wrapper_tp_banner { margin-bottom: 10px !important; }

  .checkout-cart-index .page-title h1 { width: 40%; font-size: 20px; text-align: left; }
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
/* Products Grid */
  .products-grid li.item { width: 98%; }
  .col1-layout .products-grid li.item { width: 98%; }
  .products-grid li.item { margin: 0 0 3% 0 !important; float: left; }
  .products-grid li.item:nth-child(4n+4) { margin: 0 0 3% 0 !important; float: left; }
  .products-grid li.item:nth-child(3n+3) { margin: 0 0 3% 0 !important; float: left; }
  .products-grid li.item:nth-child(2n+2) { margin: 0 0 3% 0 !important; float: left; }

 
  .information-boxes li.last .tooltip { margin-left: -150px; } 
  .information-boxes li.last .tooltip:after { left: 166px; }


}











