/* Product Tabs */
.product-collateral { clear: both; }
.collateral-tabs dd h2 { display: none; }
.box-collateral { clear: both; }
.product-collateral .tab-container { background: #ffffff;  }
#addTagForm label { width: 100%; }
#addTagForm .input-box { display: inline-block; width:365px; }
#addTagForm .input-box input { width: 100%; }
@media only screen and (min-width: 771px) {
  .product-collateral .toggle-tabs {
    display: block;
    width: 100%;
    position: relative;
    border: 1px solid #1e1e1e;
    background-color: #1e1e1e;
  }
  .product-collateral .toggle-tabs li {
    float: left;
    border-right: 1px solid #3d3d3d;
    border-left: 1px solid transparent;
    color: #919191;
  }
  .product-collateral .toggle-tabs li > span {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: inline-block;
    padding: 0 30px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 15px;
    position: relative;
    bottom: -1px;
  }
  .product-collateral .toggle-tabs li.current {
    border-right: 1px solid #3d3d3d;
  }
  .product-collateral .toggle-tabs li.current > span {
    background-color: #000000;
    z-index: 0;
  }
  .product-collateral .toggle-tabs li.current span,
  .product-collateral .toggle-tabs li:hover span {
    color: #fff;
  }
  .product-collateral .toggle-tabs li:first-child {
    border-left: none;
  }
  .product-collateral .toggle-tabs:after {
    content: '';
    display: table;
    clear: both;
  }
  .product-collateral > dl {
    width: 100%;
    margin-bottom: 40px;
  }
  .product-collateral > dl > dt {
    display: none;
  }
  .product-collateral > dl > dd {
    width: 94.01%;
    display: none;
    padding: 15px 3%;
    border: 1px solid #cccccc;
    border-top: 0;
  }
  .product-collateral > dl > dd.current {
    display: block;
  }
}
@media only screen and (max-width: 770px) {
  .product-collateral .toggle-tabs {
    display: none;
  }
  .product-collateral > dl > dt {
    margin: 0;
    margin-bottom: 10px;
    color: #919191;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-weight: normal;
    margin-bottom: 0px;
    padding: 7px 10px 7px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #1e1e1e #1e1e1e #d8d6d6 #1e1e1e;
    position: relative;
    background-color: #1e1e1e;
    display: block;
  }
  .product-collateral > dl > dd {
    padding: 10px;
    margin: 0;
    border-width: 0 1px;
    border-style: solid;
    border-color: #cccccc;
  }
  .product-collateral > dl > dd:last-child {
    border-width: 0 1px 1px 1px;
  }
  .product-collateral > dl > dt {
    cursor: pointer;
  }
  .product-collateral > dl > dt:hover {
    color: #fff;
    background-color: #000000;
  }
  .product-collateral > dl > dt.last {
    border-bottom-width: 1px;
  }
  .product-collateral > dl > dd {
    display: none;
  }
  .product-collateral.accordion-open > dl > dt.current {
    border-bottom-width: 1px;
  }
  .product-collateral.accordion-open > dl > dd.current {
    display: block;
  }
  .product-collateral {
    width: 100%;
    float: none;
    padding-right: 0;
    padding-left: 0;
  }
} 
@media only screen and (max-width: 480px) {
  .box-collateral {
    margin-bottom: 15px;
  }
}
.landing-page { font-family: Candara; font-size: 15px; color: #0d0d0d; padding: 3%; }
.landing-page img { max-width: 100% !important; }
.landing-page .left { float: left; width: 40%; }
.landing-page .left .logo { display: block; margin-bottom: 30px; max-width: 100%; }
.landing-page .left .text { clear: both; display: block; margin: 0 0 30px; }
.landing-page .left .text h2 { font-size: 30px; color: #222f68; font-weight: bold; } 
.landing-page .left .text h2 strong { color: #cd2127; }
.landing-page .left .text .subtitle { display: block; margin-bottom: 15px; }
.landing-page .left .block-content { display: block; margin-bottom: 15px; }
.landing-page .left .block-content .input-box { float: left; width: 50%; }
.landing-page .left .block-content .input-box input.input-text { background: #fff; border: 1px solid #d1d9ec; height: 26px; margin: -1px 0 0 0; padding-left: 2%; padding-right: 2%; width: 96%; }
.landing-page .left .block-content button.button { float: left; }
.landing-page .left .block-content button.button span { padding: 0; margin: 0; background: url(../images/landing/button-newsletter.png) no-repeat; width: 108px; height: 36px; }
.landing-page .left .block-content button.button span span { display: none; }
.landing-page .left .block-content button.button:hover span { opacity: 0.8; }
.landing-page .right { float: right; width: 55%; }
.landing-page .right .progress { float: left; clear: both; margin-top: 30px; max-width: 100%; }
.landing-page .footer-landing { float: left; width: 100%; clear: both; text-align: center; border-top: 1px solid #d8dee2; margin-top: 20px; padding-top: 20px; padding-bottom: 20px; font-size: 11px; color: #0d0d0d; }
@media only screen and (min-width: 0) and (max-width: 800px) {
  .landing-page .left { float: left; width: 100%; margin-bottom: 25px; }
  .landing-page .right { float: left; width: 100%; }
}