body { background:#fff; background-size: 100% auto; font:15px/1.35 Candara, Arial, Helvetica, sans-serif; color:#2b2b2b; text-align:center; overflow-x: hidden; }
/* Header ================================================================================ */
.logo { float:left; }
.header-shadow { padding-bottom: 8px; background: url(../images/header-bkg.png) left bottom repeat-x; margin-bottom: 15px; position: fixed; z-index: 99999; left: 0; top: 0; width: 100%; }
.header-container { padding-bottom: 0; background:#ededed; }
.header { padding: 0; width: 1124px; margin: 0 auto; }
.header .logo { float:left; text-decoration:none !important; padding: 10px 0 5px; }
.header .logo img { max-height: 85px; }
.header .logo strong { position:absolute; top:-999em; left:-999em; width:0; height:0; font-size:0; line-height:0; text-indent:-999em; overflow:hidden; }
.header h1.logo { margin:0; padding:0; }
.header .quick-access { float:right; margin: 17px 0 0 0px; }
.header .quick-access .ac-header{ float:right; }
.header .my-account-links { position: relative; padding: 0 10px 14px 10px; float: right; margin-right: 10px; border-right: 1px solid #d0d0d0; cursor: pointer; }
.header .my-account-links .links-account { float: left; }
.header .my-account-links .icon { float: left; width: 52px; height: 52px; text-align: center; line-height: 52px; border: 5px solid #fff; background: #2f2f2f;  font-size: 26px; color: #fff; margin-right: 10px; overflow: hidden; 
  -webkit-border-radius: 70px; 
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  border-radius: 70px;
  box-shadow: 2px 2px 3px -2px rgba(0, 0, 0, 0.6);
}.header .my-account-links:hover .icon { background: #222f68; }
.header .my-account-links .links-account > span { float:left; display: block; color:#272b2c; margin-top: 10px; clear: both; }
.header .my-account-links .links-title { background:url(../images/arrow_down.png) right center no-repeat; padding:0 15px 0 0; margin-top: 0 !important; }
.header .stores-list { position: relative; padding: 0 10px 0 0; float: right; margin: 0 10px 0 0; border-right: 1px solid #d0d0d0; cursor: pointer; }
.header .stores-list .icon { float: left; width: 52px; height: 52px; text-align: center; line-height: 52px; border: 5px solid #fff; background: #2f2f2f;  font-size: 26px; color: #fff; margin-right: 10px;
  -webkit-border-radius: 70px; 
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  border-radius: 70px;
  box-shadow: 2px 2px 3px -2px rgba(0, 0, 0, 0.6);
}.header .stores-list .icon:hover { background: #222f68; }
.header .stores-list .icon i{ margin-left: 2px; }
.header .stores-list .content { float: right; margin-top: 10px; }
.header .stores-list .content span { clear: both; display: block; }
.header .stores-list > span { float:left; clear: both; display: block; color:#272b2c; margin-top: 10px; }
.header .stores-list .links-title { background:url(../images/arrow_down.png) right center no-repeat; padding:0 15px 0 0; margin-top: 0; }
.header .stores-list.mobile-list { display: none; }
.header .links { display: none; position:absolute; right:0; top:100px; background:#fff; border:1px solid #d3d4d6; width:250px; z-index:9999; box-shadow: 2px 2px 7px -4px rgba(0, 0, 0, 0.3); }
.header .links:after { content: ""; position: absolute; width: 0; height: 0; border-width: 10px; border-style: solid; border-color: transparent transparent #d0d0d0 transparent; top: -20px; left: 116px; }
.header .links li { float: left; width: 96%; clear: both; color: #2b2b2b; border-bottom: 1px solid #d3d4d6; padding: 2%; }
.header .links li:hover { background: #ededed; }
.header .links li a { color: #2b2b2b; text-decoration: none; padding: 5px 10px; display: block; }
.header .links li a:hover { font-weight: normal; }
.header .links li.first { padding-left: 2% !important; }
.header .links li.last { padding-right: 2% !important; } 
.header .links li.last:hover { background: #ededed !important; }
.header .links li.last a { padding-bottom: 0; }
.bannercontainer { position: relative; margin-bottom: 20px; }
/* Search Block */
.search-block { float: left; margin:23px 0 0 0px; position: relative; }
.search-block .form-search { display: block; clear: both; margin: 0 0 0; background: #fff; border:1px solid #d7d7d7; padding: 5px 10px; float: left;
  -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   border-radius: 5px; ;
}
.search-block .form-search input.input-text { background: #fff; color: #c4c6c9; border: 1px solid #e6ebf6; border-width: 0 1px 0 0; width: 200px; float: left; padding: 3px 10px; height: 25px; margin-right: 10px; }
.search-block .form-search button.button { float: right; }
.search-block .form-search button.button span { background: none; height: 28px; border: 0; padding: 0; }
.search-block .form-search button.button span span i { margin: 3px 0 0 0; font-size: 25px; color: #2f2f2f; }
.search-block .form-search button.button span span:hover i { color: #222f68; }
.header .form-search { text-align:right; }
.header .form-search .search-autocomplete { z-index:999; }
.header .form-search .search-autocomplete ul { border:1px solid #ddd; background-color:#fff; }
.header .form-search .search-autocomplete li { padding:3px; border-bottom:1px solid #ddd; cursor:pointer; }
.header .form-search .search-autocomplete li .amount { float:right; font-weight:bold; }
.header .form-search .search-autocomplete li.selected {}
.header .form-language { clear:both; text-align:right; }
.header-container .top-container { clear:both; text-align:right; }
/* Header Cart */
  .header-cart { float:right; position:relative; margin:0 10px 0 0; font-family: 'Open Sans', sans-serif; }
  .header-cart.loading { opacity: 0.5; }
  .header-cart .summary { position:relative; width:63px; height:65px; margin-right: 10px; cursor: pointer; float: left; }
  .header-cart .summary .icon { float: left; width: 52px; height: 52px; text-align: center; line-height: 52px; border: 5px solid #fff; background: #2f2f2f;  font-size: 26px; color: #fff; margin-right: 10px;
    -webkit-border-radius: 70px; 
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
    border-radius: 70px;
    box-shadow: 2px 2px 3px -2px rgba(0, 0, 0, 0.6);
  }
  .header-cart:hover .summary .icon { background: #222f68; }
  .header-cart .summary .icon i{ margin-left: 0; }
  .header-cart .summary .amount { position:absolute; background:url(../images/cart-number-box.png) no-repeat; width:17px; height:19px; font-weight:bold; font-size:10px; line-height:14px; top:-12px; right:7px; color:#fff; text-align: center; }
  .header-cart .text{ float:left; color:#272b2c; background:url(../images/arrow_down.png) right center no-repeat; padding:0 15px 0 0; margin-top: 15px; }
  .header-cart .cart-content { display: none; position:absolute; right:0; top:100px; background:#fff; border:1px solid #d3d4d6; width:250px; z-index:9999; box-shadow: 2px 2px 7px -4px rgba(0, 0, 0, 0.3); } 
  .header-cart .cart-content:after { content: ""; position: absolute; width: 0; height: 0; border-width: 10px; border-style: solid; border-color: transparent transparent #d0d0d0 transparent; top: -20px; left: 358px; }
  .header-cart .cart-content #cart-default-text{ padding:10px 0 10px; text-align: center; }
  .header-cart .cart-content.large { width:500px; } 
  .header-cart .cart-content a{ display: block; font-size: 13px; }  
  .header-cart .cart-content .data { width:100%; }  
  .header-cart .cart-content .data .remove{ display:inline-block; background-position: center center; border: 1px dashed #dddddd; padding: 2px 5px; font-size: 17px; }  
  .header-cart .cart-content .data th { vertical-align:middle; text-align:left; color:#3d3d3d; font-size:12px; padding:8px 10px; border:1px solid #d3d4d6; border-width: 1px 0; } 
  .header-cart .cart-content .data td { vertical-align:middle; text-align:left; font-size:10px; border-bottom:1px solid #e9e9e9; padding:5px 10px; }
  .header-cart .cart-content .data td img { vertical-align:middle; border: 1px solid #dddddd; }
  .header-cart .cart-content .data td.price { font-size:12px; }
  .header-cart .cart-content .data td.price strong { font-size:11px; border: 1px dashed #dddddd; padding: 4px 7px 6px; position: relative; top: -2px; }
  .header-cart .cart-content .actions { padding: 10px; text-align: right; overflow: hidden; }
  .header-cart .cart-content .actions .button { margin:0 0 0 5px; float: left; }
  .header-cart .cart-content .actions button.button span { background: transparent; color: #3d3d3d; }
  .header-cart .cart-content .actions button.button:hover span { color: #212e68; }
  
  .header-cart .cart-content .actions .total { font-size:15px; font-weight:normal; color: #fff; float: right; background: #212e68; padding: 5px 10px; }
  .header-cart .cart-content .std{ display:none; }
  
