/* Content Columns */
.col2-set .col-1 { float:left; width:49%; }
.col2-set .col-2 { float:right; width:49%; }
.col2-set .col-narrow { width:33%; }
.col2-set .col-wide { width:65%; }
.col3-set .col-1 { float:left; width:32%; }
.col3-set .col-2 { float:left; width:32%; margin-left:2%; }
.col3-set .col-3 { float:right; width:32%; }
.col4-set .col-1 { float:left; width:23.5%; }
.col4-set .col-2 { float:left; width:23.5%; margin:0 2%; }
.col4-set .col-3 { float:left; width:23.5%; }
.col4-set .col-4 { float:right; width:23.5%; }
/* ======================================================================================= */
.page .widget { margin: 0 auto; width: 1084px; padding: 20px; border: 1px dashed #d8d6d6; display: block; margin-bottom: 30px; }
.page .widget ul { float: left; width: 100%;  margin-bottom: 10px; }
.page .widget li { float: left; margin-right: 15px; color: #000000; font-family: 'Open Sans'; }
.page .widget li a { color: #000000; font-size: 12px; }
.page .widget li a:hover { text-decoration: underline; }
.page .widget strong.store { display: block; clear: both; }
.cms-no-route {  }
.cms-no-route .page-title h1, 
.cms-no-route .page-title h2 { background: #cd2127; }
.cms-no-route .page-404 { color: #1d1f1f; font-size: 15px; }
.cms-no-route .page-404 h4 { color: #1d1f1f; font-size: 15px; font-weight: bold; display: block; margin-bottom: 5px; }
.cms-no-route .page-404 p { padding: 0 0 15px 10px; }
.cms-no-route .page-404 ul a { color: #344074; }
.cms-no-route .page-404 ul a:hover { text-decoration: underline; }
.cms-no-route .page-404 ul { list-style-type: none; padding-left: 0; }
.cms-no-route .page-404 ul a i { font-style: normal !important; padding-right: 5px; }
/* Global Styles ========================================================================= */